@import "../../_variables";

.uir-button {
    $button-font-family: $font-family !default;
    $button-font-size: $base-font-size !default;
    $button-color: rgba(47,40,51,.6) !default;
    $button-color-clear: #000 !default;
    $button-color-hover: rgb(47,40,51) !default;
    $button-color-focus: rgb(47,40,51) !default;
    $button-color-active: rgb(47,40,51) !default;
    $button-background-color: rgba(47, 40, 51, .05) !default;
    $button-background-color-clear: transparent !default;
    $button-background-color-hover: rgba(47, 40, 51, .1) !default;
    $button-background-color-focus: rgba(47, 40, 51, .2) !default;
    $button-background-color-active: rgba(47, 40, 51, .4) !default;
    $button-icon-width: $base-font-size + 4 !default;
    $button-icon-height: $base-font-size + 4 !default;

    position: relative;
    box-sizing: border-box;
    min-width: 50px;
    height: 36px;
    padding: 9px 18px;
    margin: 8px 8px 8px 0;
    font-family: $button-font-family;
    font-size: $button-font-size;
    color: $button-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: $button-background-color;
    border: 0; /* override browser's default */
    border-radius: 2px;
    outline: none;
    transition: all .3s;

    &--clear {
        color: $button-color-clear;
        background: $button-background-color-clear;
    }

    &:hover {
        color: $button-color-hover;
        background-color: $button-background-color-hover;
    }

    &:focus {
        color: $button-color-focus;
        background-color: $button-background-color-focus;
    }

    &--active {
        color: $button-color-active;
        background-color: $button-background-color-active;
    }

    &--content {
        display: inline-block;
        vertical-align: middle;
    }

    // isFluid prop
    &--fluid {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    // isDisabled prop
    &--disabled {
        pointer-events: none;
        opacity: .5;
    }

    // isActive prop
    &--active {
        font-weight: 600; /* Medium, not bold if available */
    }

    .uir-icon {
        width: $button-icon-width;
        height: $button-icon-height;
        vertical-align: text-bottom;
    }
}
