@import "../_variables";

@keyframes uir-button-confirmation-in {

    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uir-button-confirmation-out {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.uir-button {
    $button-font-family: $font-family !default;
    $button-font-size: $base-font-size !default;
    $button-color: rgba(47,40,51,.6) !default;
    $button-color-clear: #000 !default;
    $button-color-hover: rgb(47,40,51) !default;
    $button-color-focus: rgb(47,40,51) !default;
    $button-color-active: rgb(47,40,51) !default;
    $button-background-color: rgba(47, 40, 51, .05) !default;
    $button-background-color-clear: transparent !default;
    $button-background-color-hover: rgba(47, 40, 51, .1) !default;
    $button-background-color-focus: rgba(47, 40, 51, .2) !default;
    $button-background-color-active: rgba(47, 40, 51, .4) !default;
    $button-primary-background-top: #ff1966 !default;
    $button-primary-background-bottom: #fa439f !default;
    $button-primary-background-top-focus: darken($button-primary-background-top, 10%) !default;
    $button-primary-background-bottom-focus: darken($button-primary-background-top, 10%) !default;
    $button-icon-width: $base-font-size + 4 !default;
    $button-icon-height: $base-font-size + 4 !default;

    position: relative;
    box-sizing: border-box;
    display: inline-block;
    min-width: 50px;
    min-height: 1em;
    padding: 9px 18px;
    margin: 8px 8px 8px 0;
    overflow: hidden;
    font-family: $button-font-family;
    font-size: $button-font-size;
    line-height: 1;
    color: $button-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: $button-background-color;
    border: 0; /* override browser's default */
    border-radius: 2px;
    outline: none;
    transition: all .3s;

    &-content {
        display: inline-block;
        line-height: 1.5;
        vertical-align: middle;
    }

    .uir-icon {
        width: $button-icon-width;
        height: $button-icon-height;
        vertical-align: middle;
        fill: $button-color;
    }

    // type=clear prop
    &--clear {
        color: $button-color-clear;
        background: $button-background-color-clear;
    }

    &:hover {
        color: $button-color-hover;
        background-color: $button-background-color-hover;
    }

    &:focus {
        color: $button-color-focus;
        background-color: $button-background-color-focus;
    }

    &--active {
        color: $button-color-active;
        background-color: $button-background-color-active;
    }

    // isFullWidth prop
    &--full-width {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    // isDisabled prop
    &--disabled {
        pointer-events: none;
        opacity: .5;
    }

    // isActive prop
    &--active {
        font-weight: 600; /* Medium, not bold if available */
    }

    // type=primary prop
    &--primary {
        color: #fff;
        background-image: linear-gradient(to bottom, $button-primary-background-top 0%, $button-primary-background-bottom 100%);

        &:hover {
            color: #fff;
            background-image: linear-gradient(to bottom, $button-primary-background-top 0%, $button-primary-background-top 100%);
            box-shadow: 0px 0px 3px 1px rgba(225, 25, 102, .4);
        }

        &:focus {
            color: #fff;
            background-image: linear-gradient(to bottom, $button-primary-background-top-focus 0%, $button-primary-background-bottom-focus 100%);
            box-shadow: 0px 0px 3px 1px rgba(225, 25, 102, .4);
        }

        &.uir-button--active {
            color: #fff;
        }

        .uir-icon {
            stroke: transparent;
            fill: #fff;
        }
    }

    // type=round prop
    &--round {
        width: auto;
        min-width: 24px;
        height: auto;
        min-height: 24px;
        padding: 12px;
        border-radius: 50%;

        &,
        &.uir-button--icon-left,
        &.uir-button--icon-right {

            .uir-icon {
                margin: 0;
            }
        }
    }

    // icon prop
    &--icon-left {

        .uir-icon {
            margin-right: 5px;
        }
    }

    &--icon-right {

        .uir-icon {
            margin-left: 5px;
        }
    }

    &-confirmation {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        margin: 0;
        overflow: visible;
        line-height: 1.5;
        color: #fff;
        background-image: linear-gradient(to bottom, $button-primary-background-top 0%, $button-primary-background-bottom 100%);

        &:focus,
        &:hover {
            color: #fff;
        }

        &--confirming {
            animation-name: uir-button-confirmation-in;
            animation-duration: .3s;
            animation-timing-function: cubic-bezier(0,0,.31,1);
        }

        &--confirmed {
            transform: translateY(100%);
            animation-name: uir-button-confirmation-out;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0,0,.31,1);
        }

        &--confirming,
        &--confirmed {
            display: block;
        }
    }
}
