.uir-icon-button {
    /* Override default button rules */
    width: auto;
    min-width: 24px;
    height: auto;
    min-height: 24px;
    padding: 8px;
    background-color: rgba(47, 40, 51, .05);
    border-radius: 50%;

    &:hover {
        color: rgb(47,40,51);
        background-color: rgba(47, 40, 51, .1);
    }

    &.uir-button--active {
        color: rgb(47,40,51);
        background-color: rgba(47, 40, 51, .2);
    }
}
