.uir-IconButton {
    /* Override default button rules */
    min-width: 24px;
    min-height: 24px;
    padding: 8px;
    height: auto;
    width: auto;
    border-radius: 50%;
    background-color: rgba(47, 40, 51, .05);
}

.uir-IconButton:hover {
    background-color: rgba(47, 40, 51, .1);
    color: rgb(47,40,51);
}

.uir-IconButton.uir-Button-active {
    background-color: rgba(47, 40, 51, .2);
    color: rgb(47,40,51);
}