.uir-primary-button {
    color: #fff;
    background-image: linear-gradient(to bottom, #ff1966 0%, #fa439f 100%);

    &:focus,
    &:hover {
        color: #fff;
        background-image: linear-gradient(to bottom, #ff1966 100%, #fa439f 100%);
        box-shadow: 0px 0px 3px 1px rgba(225, 25, 102, .4);
    }

    &.uir-button--active {
        color: #fff;
    }

    .uir-icon {
        stroke: #fff;
        fill: #fff;
    }
}
