@import "../_variables";

.uir-tabs-tab {
    $tab-background-color-hover: rgba($charcoal, .1) !default;
    $tab-background-color-focus: rgba($charcoal, .2) !default;

    padding: 8px;
    margin: 0;

    &.uir-button--active {
        background: transparent;

        &:hover {
            background: $tab-background-color-hover;
        }

        &:focus {
            background: $tab-background-color-focus;
        }
    }
}
