@import "../variables";

.uir-icon {
    width: 24px;
    height: 24px;
}

.uir-icon-path {

    &-fill {
        fill: $charcoal;
    }

    &-stroke {
        stroke: $charcoal
    }
}

.uir-icon-dashboard {
    width: 32px;
    height: 24px;
}

.uir-icon-kanban {
    fill: none;
}

.uir-icon-notification {
    fill: $pink;
}

.uir-icon-blocked {
    width: 10px;
    height: 10px;
}

.uir-icon-not-started {
    width: 12px;
    height: 12px;
}
