@import "../variables";

.uir-icon {
    width: 24px;
    height: 24px;
    fill: $charcoal;
}

.uir-icon-notification {
    fill: $pink;
}

.uir-icon-required {
    fill: $charcoal;
}


.uir-icon-arrow-fill {
    fill: $charcoal
}

.uir-icon-arrow-stroke {
    stroke: $charcoal
}
