@import "../variables";

.uir-icon {
    width: 24px;
    height: 24px;
}

.uir-icon-path {

    &-fill {
        fill: $charcoal;
    }

    &-stroke {
        stroke: $charcoal
    }
}

.uir-icon-dashboard {
    width: 32px;
    height: 24px;
}

.uir-icon-kanban {
    fill: none;
}

.uir-icon-blocked,
.uir-icon-notification {
    fill: $pink;
}

.uir-icon-story,
.uir-icon-task {

    .uir-icon-line-a,
    .uir-icon-line-b,
    .uir-icon-line-c,
    .uir-icon-shape {
        fill: $charcoal;
    }

    &--low {

        .uir-icon-line-b,
        .uir-icon-line-c {
            fill: $grey;
        }
    }

    &--medium {

        .uir-icon-line-c {
            fill: $grey;
        }
    }

    &--blocked {

        .uir-icon-line-a,
        .uir-icon-line-b,
        .uir-icon-line-c,
        .uir-icon-shape {
            fill: $pink;
        }
    }
}
