// Default global variables

// --- TYPOGRAPHY ---
$base-font-size: 12px !default;
$font-family: "DINOT", sans-serif !default;

// --- COLOURS ---
$white: #fff;
$grey: #ccc !default;
$charcoal: #2f2833 !default;
$purple: #9a3cbb !default;
$pink: #fd2a7d !default;
$teal: #46bead !default;
