@import "../variables";

@keyframes uir-spin-halo {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes uir-status-icon-pop-in {

    0% {
        transform: scale(.75);
    }

    40% {
        transform: scale(1.25);
    }

    60% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

$sizes: (
    xs: (
        avatar: ( size: 24px, font: 12px ),
        status: ( size: 14px, font: 8px )
    ),
    sm: (
        avatar: ( size: 36px, font: 16px ),
        status: ( size: 20px, font: 12px )
    ),
    md: (
        avatar: ( size: 48px, font: 22px ),
        status: ( size: 26px, font: 18px )
    ),
    lg: (
        avatar: ( size: 60px, font: 28px ),
        status: ( size: 33px, font: 23px )
    ),
);

$themes: (
    light: $white,
    dark: $charocal
);

.uir-avatar {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    font-family: $font;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    @each $size, $details in $sizes {
        $avatarDetails: map-get($details, "avatar");
        $statusDetails: map-get($details, "status");

        &.uir-avatar--#{$size} {
            $avatarSize: map-get($avatarDetails, "size");
            $avatarFont: map-get($avatarDetails, "font");
            width: $avatarSize;
            height: $avatarSize;
            font-size: $avatarFont;
            line-height: $avatarSize;

            .uir-avatar-user-status {
                $statusSize: map-get($statusDetails, "size");
                $statusFont: map-get($statusDetails, "font");
                width: $statusSize;
                height: $statusSize;
                font-size: $statusFont;
                line-height: $statusSize;
            }

            &.uir-avatar--halo .uir-avatar-inner::before {
                width: $avatarSize + 4px;
                height: $avatarSize + 4px;
            }
        }
    }

    @each $theme, $background in $themes {

        &.uir-avatar--#{$theme} {

            .uir-avatar-user-status {
                background: $background;
            }
        }
    }

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    &:focus {
        outline: none;
        opacity: .8;
    }

    &.uir-avatar--disabled {

        &:hover,
        &:focus {
            cursor: default;
            outline: none;
            opacity: 1;
        }
    }

    &.uir-avatar--halo {

        &:hover {

            .uir-avatar-inner::before {
                animation-play-state: paused;
            }
        }

        .uir-avatar-inner {
            border-color: #fff;
            border-style: solid;
            border-width: 2px;

            &::before {
                position: absolute;
                top: -2px;
                left: -2px;
                z-index: -1;
                display: block;
                content: "";
                // background-image: radial-gradient(farthest-corner at 0 0, $pink 0%, $pink 75%, $yellow 80%);
                background-image: radial-gradient(farthest-corner at 0 0, $purple 0%, $purple 75%, $pink 80%);
                border-radius: 50%;
                animation-name: uir-spin-halo;
                animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
    }

    .uir-avatar-inner {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $grey;
        border-radius: 50%;

        img,
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .uir-avatar-user-status {
        position: absolute;
        right: -18%;
        bottom: 0%;
        display: block;
        border-radius: 50%;
        animation-name: uir-status-icon-pop-in;
        animation-duration: .6s;
        animation-delay: .2s;
    }
}
