$notificationIconSize: 50%;

@keyframes uir-animate-icon-in {

    0% {
        transform: scale(.75);
    }

    40% {
        transform: scale(1.25);
    }

    60% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.uir-notification-icon {
    position: absolute;
    top: 50%;
    left: 60%;
    min-width: $notificationIconSize;
    min-height: $notificationIconSize;
    background-color: #fff;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    border-radius: 50%;
    font-size: 50%;
    line-height: 180%;
    animation-name: uir-animate-icon-in;
    animation-delay: .2s;
    animation-duration: .6s;
}

&:hover {
    opacity: .85;
    cursor: pointer;

    .uir-notification-icon {
        transform: scale(1.25);
    }
}
