@keyframes uir-animate-icon-in {

    0% {
        transform: scale(.75);
    }

    40% {
        transform: scale(1.25);
    }

    60% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.uir-avatar-user-profile {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-family: "DINOT", sans-serif;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    .uir-avatar-user-profile-inner {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(47, 40, 51, .1);
        border-radius: 50%;

        img,
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .uir-avatar-user-status {
        position: absolute;
        right: -18%;
        bottom: 0%;
        display: block;
        width: 26px;
        height: 26px;
        font-size: 18px;
        line-height: 27px;
        border-radius: 50%;
        animation-name: uir-animate-icon-in;
        animation-duration: .6s;
        animation-delay: .2s;
    }

    &.uir-avatar-user-profile-light {

        .uir-avatar-user-status {
            background: #fff;
        }
    }

    &.uir-avatar-user-profile-dark {

        .uir-avatar-user-status {
            background: #3a333c;
        }
    }

    &.uir-avatar-user-profile-sm {
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;

        .uir-avatar-user-status {
            width: 14px;
            height: 14px;
            font-size: 8px;
            line-height: 14px;
        }
    }

    &.uir-avatar-user-profile-md {
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 36px;

        .uir-avatar-user-status {
            width: 20px;
            height: 20px;
            font-size: 13px;
            line-height: 21px;
        }
    }

    &.uir-avatar-user-profile-lg {
        width: 60px;
        height: 60px;
        font-size: 28px;
        line-height: 60px;

        .uir-avatar-user-status {
            width: 33px;
            height: 33px;
            font-size: 23px;
            line-height: 34px;
        }
    }

}
