$tooltipTranslate: translate(-20%, -100%);

@keyframes uir-animate-tooltip-in {

    0% {
        transform: $tooltipTranslate rotate(-2deg);
    }

    40% {
        transform: $tooltipTranslate rotate(3deg);
    }

    60% {
        transform: $tooltipTranslate rotate(-3deg);
    }

    100% {
        transform: $tooltipTranslate rotate(0deg);
    }
}

.uir-tooltip {
    position: relative;
    display: inline-block;
}

.uir-tooltip-contents {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: $tooltipTranslate;
    animation-name: uir-animate-tooltip-in;
    animation-duration: .3s;
}
