@keyframes uir-animate-tooltip {

    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

.uir-tooltip {
    position: relative;
    display: inline-block;

    &:focus {
        outline: none;

        .uir-tooltip-inner {
            opacity: .8;
        }
    }

    .uir-tooltip-contents {
        position: absolute;
        z-index: 1000;
        animation-name: uir-animate-tooltip;
        animation-duration: .2s;
        animation-timing-function: ease;
    }
}
