@import "../variables";

.uir-tooltip-box {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 12px;
    font-family: $font;
    font-size: 13px;
    color: $white;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: all;

    &.uir-tooltip-box--default {
        background-color: $charocal;
    }

    &.uir-tooltip-box--success {
        background-color: $teal;
    }

    &.uir-tooltip-box--error {
        background-color: $pink;
    }
}
